@model IEnumerable<MovieDto>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a href="/Movies/Create" class="btn btn-sm btn-primary" title="@BasicRes.CreateNew"><i class="fa fa-plus-square"></i>&nbsp;@BasicRes.CreateNew</a>
</p>
<table id="MovieTable" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @BasicRes.Genre 
            </th>
            <th>
                @BasicRes.MediumType
            </th>
            <th style="background-color: black">
                @BasicRes.Title
            </th>
            <th>
                @BasicRes.Price
            </th>
            <th>
                @BasicRes.ReleaseDate
            </th>
            <th>
                @BasicRes.Rating
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.GenreName
            </td>
            <td>
                @item.MediumTypeName
            </td>
            <td>
               @item.Title
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @item.LocalizedRating
            </td>
            <td>
                    <a href="/Movies/Edit/@item.Id" class="btn btn-sm btn-warning fa fa-pencil" onclick="alert('Hallo Welt');'" data-id="@item.Id" data-name="Edit" title="@BasicRes.Edit"></a> |
                    <a href="/Movies/Details/@item.Id" class="btn btn-sm btn-info fa fa-list" style="font-size: 20px" data-name="Details" title="@BasicRes.Details"></a> |
                    <a href="/Movies/Delete/@item.Id" class="btn btn-sm btn-danger fa fa-remove" data-id="@item.Id" data-name="Delete" title="@BasicRes.Delete"></a>
            </td>
        </tr>
}
    </tbody>
</table>

<!-- Modal Dialog -->
@(await Html.PartialAsync("_DetailsModal", new ViewDataDictionary(ViewData) { { "ModalId", "MovieDetailsModal" }, { "Action", "Delete" }, { "Controller", "Movies" } }))

<div id="EditMoviePartialView">

</div>

@section Scripts{
    <script src="~/js/application/MovieIndex.js"></script>
}
